
*.meta
*.asmdef
*.bin
*.db
*.asset
*.info
*.md
*.dll
*.json
*.aar
*.h
*.plist
*.modulemap
*.mm
*.cs
*.mdb
*.uxml
*.xsd
*.yml
*.psd
*.unitypackage
*.bundle
*.stamp
*.log
*.sln
*.pdb
*.log
*.info
*.info
*.info
